<% obj.each do |article| %>
  <div class="col-md-6 item">
    <div class="item-content">
      <h4><%= article.title %></h4>
      <div class="seperator"></div>
      <div class="flex">
        <small>by 
          <% if article.user %>
            &nbsp;<%= link_to article.user.username, user_path(article.user) %>
          <% else %>
            &nbsp;Anonymous
          <% end %>
        </small>
        <small><%= time_ago_in_words(article.created_at) %> ago</small>
      </div>
      <div class="item-body"><%= sanitize article.description.truncate(150) %></div>
      <div class="item-action">
        <span><%= link_to "Read More", article_path(article) %></span>
        <span>
          <%= link_to "Edit", edit_article_path(article) %> | 
          <%= link_to "Delete",  article_path(article), method: :delete, data: {confirm: "Are you sure?"} %>
        </span>
      </div>
    </div>
  </div>
<% end %>