<%= render "form_error" %>
<h4>Update Article <%= @article.id %></h4>
<%= render "form" %>

<p>
  <span> <%= link_to "Show", article_path(@article) %> </span> | 
  <span> <%= link_to "Back", articles_path %> </span>
</p>