<div class="container main">
  <div class="row">
    <div class="col-12 text-center">
      <h3><%= @user.username %>'s Profile</h3>
    </div>
    <div class="col-xs-10 col-xs-offset-1 col-md-3 col-md-offset-0 text-center">
      <div class="bio-img">
        <% unless @user.avatar.file.nil? %>
          <%= image_tag @user.avatar.url %>
        <% end %>
      </div>
      <%= form_for @user, url: "/upload/#{@user.id}", method: 'put', html: { id: "avatar-form" } do |f| %>
        <%= f.file_field :avatar, id: "avatar-input" %>
        <%= f.submit "Upload avatar", id: "avatar-form-btn" %>
      <% end %>
      <p><%= @user.username %></p>
      <p><%= @user.email %></p>
    </div>
    <div class="col-xs-10 col-xs-offset-1 col-md-9 col-md-offset-0">
      <div class="row">
        <%= render "articles/articles", obj: @user.articles %>
      </div>
      <div class="text-center"><%= will_paginate @user_articles %></div>
    </div>
  </div>
</div>